:root {
  --sun-color: #ffea29;
  --moon-color: #b3dfef;
  --moon-dots-color: #649caf;
  --day-background-color: #0ab4f2;
  --night-background-color: #1e1e1e;
  --clouds-color: #a4eaff;
  --light-shine-color: #aae7ff30;
  --dark-shine-color: #cecece30;
  --stars-color: #fff;
}

.App {
  display: flex;
  width: 100dvw;
  height: 100dvh;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;

  & .button-border {
    position: relative;
    width: 100px; /*CHANGE FOR SIZE CHANGE*/
    aspect-ratio: 6.5/3;
    border-radius: 300px;
    box-shadow:inset 0px 0px 20px 5px #0000007e;
    border: 1px solid #0000007e;
    overflow: hidden;
    transition: all 0.5s linear;
    transition-delay: 0.25s;

    &.light {
      background-color: var(--day-background-color);
    }

    &.dark {
      background-color: var(--night-background-color);
    }

    & .sun {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-125%, -50%);
      height: 78%;
      width: auto;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background-color: var(--sun-color);
      box-shadow: 0px 0px 20px 5px #0000007e;
      border: none;
      cursor: pointer;
      z-index: 100;
      transition: all 2s cubic-bezier(.2,1.03,.39,.99);

      & .crater1 {
        position: absolute;
        top: 5%;
        left: 50%;
        height: 14%;
        width: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: #00000000;
        cursor: pointer;
        z-index: 101;
        transition: all 2s cubic-bezier(.2,1.03,.39,.99);
      }

      & .crater2 {
        position: absolute;
        top: 50%;
        left: 7%;
        transform: translate(0, -50%);
        height: 40%;
        width: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: #00000000;
        cursor: pointer;
        z-index: 101;
        transition: all 2s cubic-bezier(.2,1.03,.39,.99);
      }

      & .crater3 {
        position: absolute;
        bottom: 15%;
        right: 15%;
        height: 22%;
        width: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: #00000000;
        cursor: pointer;
        z-index: 101;
        transition: all 2s cubic-bezier(.2,1.03,.39,.99);
      }
    }

    & .moon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(25%, -50%);
      height: 75%;
      width: auto;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background-color: var(--moon-color);
      box-shadow: 0px 0px 20px 5px #0000007e;
      border: none;
      cursor: pointer;
      z-index: 100;
      transition: all 2s cubic-bezier(.2,1.03,.39,.99);

      & .crater1 {
        position: absolute;
        top: 5%;
        left: 50%;
        height: 14%;
        width: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: var(--moon-dots-color);
        cursor: pointer;
        z-index: 101;
        transition: all 2s cubic-bezier(.2,1.03,.39,.99);
      }

      & .crater2 {
        position: absolute;
        top: 50%;
        left: 7%;
        transform: translate(0, -50%);
        height: 40%;
        width: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: var(--moon-dots-color);
        cursor: pointer;
        z-index: 101;
        transition: all 2s cubic-bezier(.2,1.03,.39,.99);
      }

      & .crater3 {
        position: absolute;
        bottom: 15%;
        right: 15%;
        height: 22%;
        width: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: var(--moon-dots-color);
        cursor: pointer;
        z-index: 101;
        transition: all 2s cubic-bezier(.2,1.03,.39,.99);
      }
    }

    & .shine {
        position: absolute;
        top: 50%;
        border-radius: 50%;
        transition: all 2s cubic-bezier(.21,.7,.53,.98);
        left: 50%;
        z-index: 99;

        &.shine1 {
          height: 112%;
          width: auto;
          aspect-ratio: 1/1;
          transition-delay: 0.04s;

          &.lightShine {
            background-color: var(--light-shine-color);
            transform: translate(-100%, -50%);
          }
  
          &.darkShine {
            background-color: var(--dark-shine-color);
            transform: translate(0, -50%);
          }
        }

        &.shine2 {
          height: 170%;
          width: auto;
          aspect-ratio: 1/1;
          transition-delay: 0.08s;


          &.lightShine {
            background-color: var(--light-shine-color);
            transform: translate(-85%, -50%);
          }
  
          &.darkShine {
            background-color: var(--dark-shine-color);
            transform: translate(-15%, -50%);
          }
        }

        &.shine3 {
          height: 212%;
          width: auto;
          aspect-ratio: 1/1;
          transition-delay: 0.12s;

          &.lightShine {
            background-color: var(--light-shine-color);
            transform: translate(-75%, -50%);
          }
  
          &.darkShine {
            background-color: var(--dark-shine-color);
            transform: translate(-25%, -50%);
          }
        }
    }

    & .cloud {
      transition: all 2s cubic-bezier(.2,1.03,.39,.99);
      z-index: 98;

      &.cloud-active0 {
        position: absolute;
        top: 20%;
        right: 0%;
        width: 10%;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: var(--clouds-color);
        border: none;
        transition: all 2s cubic-bezier(.2,1.03,.39,.99);
      }

      &.cloud-disabled0 {
        position: absolute;
        top: 120%;
        right: 0%;
        width: 10%;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: var(--clouds-color);
        border: none;
        transition: all 2s cubic-bezier(.2,1.03,.39,.99);
      }

      &.cloud-active1 {
        position: absolute;
        top: 30%;
        right: -8%;
        width: 28%;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: var(--clouds-color);
        border: none;
        transition: all 2s cubic-bezier(.2,1.03,.39,.99);
      }

      &.cloud-disabled1 {
        position: absolute;
        top: 130%;
        right: -8%;
        width: 28%;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: var(--clouds-color);
        border: none;
        transition: all 2s cubic-bezier(.2,1.03,.39,.99);
      }

      &.cloud-active2 {
        position: absolute;
        top: 45%;
        right: 14%;
        width: 14%;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: var(--clouds-color);
        border: none;
        transition: all 2s cubic-bezier(.2,1.03,.39,.99);
      }

      &.cloud-disabled2 {
        position: absolute;
        top: 145%;
        right: 14%;
        width: 14%;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: var(--clouds-color);
        border: none;
        transition: all 2s cubic-bezier(.2,1.03,.39,.99);
      }

      &.cloud-active3 {
        position: absolute;
        top: 43%;
        right: 23%;
        width: 23%;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: var(--clouds-color);
        border: none;
        transition: all 2s cubic-bezier(.2,1.03,.39,.99);
      }

      &.cloud-disabled3 {
        position: absolute;
        top: 143%;
        right: 23%;
        width: 23%;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: var(--clouds-color);
        border: none;
        transition: all 2s cubic-bezier(.2,1.03,.39,.99);
      }

      &.cloud-active4 {
        position: absolute;
        top: 63%;
        right: 42%;
        width: 12%;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: var(--clouds-color);
        border: none;
        transition: all 2s cubic-bezier(.2,1.03,.39,.99);
      }

      &.cloud-disabled4 {
        position: absolute;
        top: 163%;
        right: 42%;
        width: 12%;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: var(--clouds-color);
        border: none;
        transition: all 2s cubic-bezier(.2,1.03,.39,.99);
      }

      &.cloud-active5 {
        position: absolute;
        top: 60%;
        right: 50%;
        width: 20%;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: var(--clouds-color);
        border: none;
        transition: all 2s cubic-bezier(.2,1.03,.39,.99);
      }

      &.cloud-disabled5 {
        position: absolute;
        top: 160%;
        right: 50%;
        width: 20%;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: var(--clouds-color);
        border: none;
        transition: all 2s cubic-bezier(.2,1.03,.39,.99);
      }

      &.cloud-active6 {
        position: absolute;
        top: 65%;
        right: 64%;
        width: 18%;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: var(--clouds-color);
        border: none;
        transition: all 2s cubic-bezier(.2,1.03,.39,.99);
      }

      &.cloud-disabled6 {
        position: absolute;
        top: 165%;
        right: 64%;
        width: 18%;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: var(--clouds-color);
        border: none;
        transition: all 2s cubic-bezier(.2,1.03,.39,.99);
      }

      &.cloud-active7 {
        position: absolute;
        top: 50%;
        right: 78%;
        width: 30%;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: var(--clouds-color);
        border: none;
        transition: all 2s cubic-bezier(.2, 1.03, .39, .99);
      }

      &.cloud-disabled7 {
        position: absolute;
        top: 150%;
        right: 78%;
        width: 30%;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: var(--clouds-color);
        border: none;
        transition: all 2s cubic-bezier(.2, 1.03, .39, .99);
      }

      &.cloud-active8 {
        position: absolute;
        top: 72%;
        right: 0%;
        width: 100%;
        height: 33%;
        background-color: var(--clouds-color);
        border: none;
        transition: all 2s cubic-bezier(.2, 1.03, .39, .99);
      }

      &.cloud-disabled8 {
        position: absolute;
        top: 172%;
        right: 0%;
        width: 100%;
        height: 33%;
        background-color: var(--clouds-color);
        border: none;
        transition: all 2s cubic-bezier(.2, 1.03, .39, .99);
      }
    }

    & .star {
      transition: all 2s cubic-bezier(.2,1.03,.39,.99);
      z-index: 97;

      &.star-active0 {
        position: absolute;
        top: 10%;
        left: 54%;
        background-color: var(--stars-color);
        border: none;
        height: 1%;
        width: auto;
        aspect-ratio: 1/1;
        background-color: #00000000;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 500%;
          height: auto;
          aspect-ratio: 1/1;
          background-color: var(--stars-color);
          transform: rotate(45deg) skewX(22.5deg) skewY(22.5deg);
        }

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 500%;
          height: auto;
          aspect-ratio: 1/1;
          background-color: var(--stars-color);
          transform: rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
        }
      }

      &.star-disabled0 {
        position: absolute;
        top: -110%;
        left: 54%;
        background-color: var(--stars-color);
        border: none;
        height: 1%;
        width: auto;
        aspect-ratio: 1/1;
        background-color: #00000000;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 500%;
          height: auto;
          aspect-ratio: 1/1;
          background-color: var(--stars-color);
          transform: rotate(45deg) skewX(22.5deg) skewY(22.5deg);
        }

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 500%;
          height: auto;
          aspect-ratio: 1/1;
          background-color: var(--stars-color);
          transform: rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
        }
      }

      &.star-active1 {
        position: absolute;
        top: 20%;
        left: 18%;
        background-color: var(--stars-color);
        border: none;
        height: 1%;
        width: auto;
        aspect-ratio: 1/1;
        background-color: #00000000;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 500%;
          height: auto;
          aspect-ratio: 1/1;
          background-color: var(--stars-color);
          transform: rotate(45deg) skewX(22.5deg) skewY(22.5deg);
        }

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 500%;
          height: auto;
          aspect-ratio: 1/1;
          background-color: var(--stars-color);
          transform: rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
        }
      }

      &.star-disabled1 {
        position: absolute;
        top: -120%;
        left: 18%;
        background-color: var(--stars-color);
        border: none;
        height: 1%;
        width: auto;
        aspect-ratio: 1/1;
        background-color: #00000000;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 500%;
          height: auto;
          aspect-ratio: 1/1;
          background-color: var(--stars-color);
          transform: rotate(45deg) skewX(22.5deg) skewY(22.5deg);
        }

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 500%;
          height: auto;
          aspect-ratio: 1/1;
          background-color: var(--stars-color);
          transform: rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
        }
      }

      &.star-active2 {
        position: absolute;
        top: 75%;
        left: 40%;
        background-color: var(--stars-color);
        border: none;
        height: 1%;
        width: auto;
        aspect-ratio: 1/1;
        background-color: #00000000;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 500%;
          height: auto;
          aspect-ratio: 1/1;
          background-color: var(--stars-color);
          transform: rotate(45deg) skewX(22.5deg) skewY(22.5deg);
        }

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 500%;
          height: auto;
          aspect-ratio: 1/1;
          background-color: var(--stars-color);
          transform: rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
        }
      }

      &.star-disabled2 {
        position: absolute;
        top: -175%;
        left: 40%;
        background-color: var(--stars-color);
        border: none;
        height: 1%;
        width: auto;
        aspect-ratio: 1/1;
        background-color: #00000000;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 500%;
          height: auto;
          aspect-ratio: 1/1;
          background-color: var(--stars-color);
          transform: rotate(45deg) skewX(22.5deg) skewY(22.5deg);
        }

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 500%;
          height: auto;
          aspect-ratio: 1/1;
          background-color: var(--stars-color);
          transform: rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
        }
      }
    }

    & .ministar {
      transition: all 2s cubic-bezier(.2,1.03,.39,.99);
      z-index: 97;

      &.ministar-active0 {
        position: absolute;
        top: 55%;
        left: 52%;
        background-color: var(--stars-color);
        border: none;
        width: 0.8%;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }

      &.ministar-disabled0 {
        position: absolute;
        top: -155%;
        left: 52%;
        background-color: var(--stars-color);
        border: none;
        width: 0.8%;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }

      &.ministar-active1 {
        position: absolute;
        top: 20%;
        left: 38%;
        background-color: var(--stars-color);
        border: none;
        width: 0.8%;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }

      &.ministar-disabled1 {
        position: absolute;
        top: -120%;
        left: 38%;
        background-color: var(--stars-color);
        border: none;
        width: 0.8%;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }

      &.ministar-active2 {
        position: absolute;
        top: 60%;
        left: 32%;
        background-color: var(--stars-color);
        border: none;
        width: 0.8%;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }

      &.ministar-disabled2 {
        position: absolute;
        top: -160%;
        left: 32%;
        background-color: var(--stars-color);
        border: none;
        width: 0.8%;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }

      &.ministar-active3 {
        position: absolute;
        top: 50%;
        left: 8%;
        background-color: var(--stars-color);
        border: none;
        width: 0.8%;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }

      &.ministar-disabled3 {
        position: absolute;
        top: -150%;
        left: 8%;
        background-color: var(--stars-color);
        border: none;
        width: 0.8%;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }

      &.ministar-active4 {
        position: absolute;
        top: 80%;
        left: 18%;
        background-color: var(--stars-color);
        border: none;
        width: 0.8%;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }

      &.ministar-disabled4 {
        position: absolute;
        top: -180%;
        left: 18%;
        background-color: var(--stars-color);
        border: none;
        width: 0.8%;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }
    }
  }
}